@media screen and (min-width: 768px) {
    .center {
        border: 1px solid silver;
        padding: 0 0 20px 20px;
        margin: 0 0 25px;
        box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    #right {
        margin-top: 7px;
        margin-right: 25px;
        transform: translateY(-40px);
    }

    .articlePublishDate, .originalAuthor, .categories {
        display: inline-block;
    }

    /*最新评论*/
    .new-comment, .new-leaveWord {
        margin: 40px 0 0;
        border: 1px solid silver;
        box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .radioBroadcast {
        display: inline-block;
        margin-left: 30px;
        border: 1px solid silver;
        box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        padding: 1px;
        width: 72.111%;
        margin-bottom: 4px;
    }

    .siteRunningTime {
        display: block;
    }

    .siteUpdateTime {
        display: block;
    }

    .site-info {
        margin-top: 20px;
        box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        margin-left: 15px;
    }

    .site-default {
        display: block;
        list-style: none;
        font-size: 14px;
        line-height: 25px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 768px) {
    .center {
        border: 1px solid silver;
        padding: 0 10px 10px 10px;
        box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        margin: 0 10px 25px;
    }

    #right {
        margin-top: 10px;
        padding: 0 40px;
    }

    .articlePublishDate, .originalAuthor {
        display: inline-block;
    }

    .categories {
        margin: 5px 0 0 0;
    }

    /*最新评论*/
    .new-comment, .new-leaveWord {
        margin: 30px 10px 20px;
        border: 1px solid silver;
        box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .radioBroadcast {
        display: inline-block;
        margin: 0px 0px 5px 18px;
        border: 1px solid silver;
        box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        padding: 1px;
        width: 90%;
    }

    .siteRunningTime {
        display: inline-block;
    }

    .siteUpdateTime {
        display: inline-block;
    }

    .site-info {
        box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        margin: 30px 10px 0;
    }

    .site-default {
        display: block;
        list-style: none;
        font-size: 14px;
        line-height: 25px;
        padding-bottom: 15px;
        margin-left: 17px;
    }
}

#left {
    margin-left: 14px;
    margin-top: 7px;
}

.am-u-lg-6 {
    padding: 10px;
}

.likes {
    float: right;
    margin-right: 40px;
    color: #969696;
}

/*名片按钮*/
#personal-card {
    margin: 5px 20px;
}

#personal-card-btn {
    border: 0;
    background-color: white;
    color: #000000;
}

#personal-card button img {
    width: 40px;
}

.personal-card-show-img img {
    width: 150px;
    margin: 20px 0 0 0;
}

.img-title {
    margin-top: 20px;
    margin-left: 20px;
}

.img {
    width: 100%;
    height: 100%;
}

.img-words {
    margin-top: 20px;
    line-height: 20px;
}

#name {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #565a5f;
    margin-top: 0px;
}

#connection {
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 1.6em;
}

.attention_btn {
    margin: 20px auto 10px;
}

.clear {
    clear: both;
}

.widget-title {
    margin-top: 7px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 1.3em;
}

.widget {
    background-color: #f2dede;
    margin-left: 15px;
    padding: 15px 15px;
    line-height: 1.6em;
    word-wrap: break-word;
    font-size: 0.9em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.bg-danger {
    padding: 15px 0 0;
    margin-top: -10px;
}

.blog-info-day {
    padding: 7px 10px;
}

.blog-info-day p {
    text-align: center;
    font-size: 14px;
    line-height: 19px;
}

.blog-info-opinion {
    margin-top: 25px;
    text-align: center;
}

.blog-info-opinion p {
    font-size: 16px;
    font-family: 仿宋;
}

.myStory {
    margin-top: 20px;
    height: 100px;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.myStory .bg-myStory, .bg-myGirl {
    font-size: 26px;
    text-align: center;
    height: 60px;
    padding: 15px 20px 15px;
    border-radius: 10px 10px 0px 0px;
}

.myStory-words {
    text-align: center;
    margin-top: 5px;
}

.tag-cloud {
    padding-top: 9px;
}

.widget-tag-cloud {
    margin-left: 20px;
    display: inline-block;
}

.widget-tag-cloud a {
    margin-right: 5px;
    display: inline-block;
}

.widget-tag-cloud a:hover {
    text-decoration: underline;
}

hr {
    margin-top: 10px;
    margin-bottom: 5px;
}

.icons {
    margin-top: 10px;
    text-align: center;
    flex-direction: row;
    align-items: center;
}

.icon {
    display: inline-block;
    margin-right: 15px;
}

a.linkColor:hover {
    color: #38b7ea;
    text-decoration: underline;
}

a.article-title:hover {
    color: #38b7ea;
    text-decoration: underline;
}

a.linkColor {
    color: #63676d;
}

.categories i {
    color: #63676d;
}

.halving-line {
    margin-top: 30px;
    color: #CCCCCC;
}

.halving-line-words {
    margin-top: 15px;
    color: chocolate;
}

.halving-line i {
    margin: auto 10px;
}

.blog-qq-weixin p {
    color: lightyellow;
    font-size: large;
    font-family: 仿宋
}

.blog-qq-box img {
    width: 130px;
    border: 10px;
}

.blog-weixin-box {
    margin-top: 20px;
}

.blog-weixin-box img {
    width: 130px;
    border: 10px;
}

/*文章*/
.article-header h1 {
    margin-top: 14px;
}

.article-title {
    margin-bottom: 14px;
    font-size: 24px;
    color: #7f7f7f;
}

a.tag:hover {
    color: #38b7ea;
}

.articleType {
    border-radius: 5px;
}

.article-meta i {
    margin-left: 5px;
    font-size: 15px;
    color: #63676d;
}

.article-entry {
    font-size: 16px;
    padding: 10px 8px;
    line-height: 2em;
    color: #565a5f;
}

.article-tags i {
    color: #63676d;
    margin: 10px 5px 0 0;
}

.article-tags a {
    color: #777c83;
    text-decoration: none;
}

.read-all {
    margin-left: 7px;
}

.read-all a {
    padding: 3px 0;
    text-decoration: none;
    color: #7f7f7f;
}

.read-all a:hover {
    color: #38b7ea;
    border-bottom: 2px solid #7f7f7f;
}

/*最新评论*/
.new-comment-content {
    display: block;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #999;
}

.article-title {
    font-weight: 500;
}

.newComments h2, .newLeaveWord h2 {
    font-weight: 500;
}

.newCommentTitle, .newLeaveWordTitle {
    font-size: 14px;
}

.newCommentTitle:hover {
    text-decoration: underline;
}

.newLeaveWordTitle:hover {
    text-decoration: underline;
}

.page {
    margin: 0 auto 1rem;
}

.fiveNewComments {
    margin-bottom: 1rem;
}

.new-comment-content {
    font-size: 14px;
}

/*个人名片*/
.myCard {
    border: 1px solid silver;
    box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 15px 0;
}

/*广播*/
.roll {
    display: inline-block;
    width: 90%;
    height: 21px;
    position: relative;
    overflow: hidden;
    transform: translateY(2px);
}

.roll li {
    list-style: none;
    height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.roll ul {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 5px;
}

/*#站点信息*/
.site-icon {
    border-right: 1px solid #ddd;
    width: 15px;
}

.site-title {
    margin: 5px 15px 5px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.site-default-word {
    letter-spacing: 1px;
}

.site-default-icon {
    margin-right: 10px;
}

/*我的故事、我的女孩*/
.bg-myStory-a {
    text-decoration: none;
    color: white;
}

.bg-myGirl-a {
    text-decoration: none;
    color: white;
}

.bg-myStory a:hover {
    text-decoration: none;
    color: #0a0a0a;
}

.bg-myGirl a:hover {
    text-decoration: none;
    color: #0a0a0a;
}

.bg-myStory {
    background: repeating-linear-gradient(45deg, #74ccff, #74ccff 15px, #bba985 0, #bba985 30px);
}

.bg-myGirl {
    background: repeating-linear-gradient(45deg, #ffbb33, #fb3 15px, #58a 0, #58a 30px);
}

.bg-Title {
    background: repeating-linear-gradient(45deg, #2ae0c8, #2ae0c7 15px, #fbb8ac 0, #fbb8ad 30px);
    font-size: 26px;
    text-align: center;
    height: 60px;
    padding: 15px 20px 15px;
    border-radius: 10px 10px 10px 10px;

}

.bg-tag {
    background: #cbf5fb;
    text-align: center;
    padding: 15px 20px 15px;
    border-radius: 10px 10px 10px 10px;

}

.UserIco {
    margin: 5px;
}

.style-one { /*内嵌水平线*/


    width: 80%;

    margin: 0 auto;

    border: 0;

    height: 0;

    border-top: 1px solid rgba(0, 0, 0, 0.1);

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

.style-two { /*透明渐变水平线*/

    width: 80%;

    margin: 0 auto;

    border: 0;

    height: 1px;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

.style-three { /*渐变*/

    width: 80%;

    margin: 0 auto;

    border: 0;

    height: 1px;

    background: #333;

    background-image: linear-gradient(to right, #ccc, #333, #ccc);

}

#header .tagcloud a {
    color: #fff;
}

.tagcloud a {
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.75rem;
    color: #fff;
    height: 1.125rem;
    line-height: 1.125rem;
    float: left;
    padding: 0 5px 0 10px;
    position: relative;
    border-radius: 0 5px 5px 0;
    margin: 5px 9px 5px 8px;
    opacity: 0.75;
    font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei" "Lucida Grande", Verdana, "Helvetica Neue", Arial;
}

.tagcloud a.color0 {
    background: #ba8f6c;
}

.tagcloud a.color0::before {
    border-right-color: #ba8f6c;
}

.tagcloud a.color1 {
    background: #ff945c;
}

.tagcloud a.color1::before {
    border-right-color: #ff945c;
}

.tagcloud a.color2 {
    background: #7b5d5f;
}

.tagcloud a.color2::before {
    border-right-color: #7b5d5f;
}

.tagcloud a.color3 {
    background: #f5c7b7;
}

.tagcloud a.color3::before {
    border-right-color: #f5c7b7;
}

.tagcloud a.color4 {
    background: #cfb7c4;
}

.tagcloud a.color4::before {
    border-right-color: #cfb7c4;
}

.tagcloud a.color5 {
    background: #918597;
}

.tagcloud a.color5::before {
    border-right-color: #918597;
}

.tagcloud a.color6 {
    background: #bc8f8f;
}

.tagcloud a.color6::before {
    border-right-color: #bc8f8f;
}

.tagcloud a:hover {
    opacity: 1;
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
    background-color: #9c9;
    border-color: #9c9;
}

.tagcloud a:hover::before {
    border-right-color: #9c9;
}

.tagcloud a:before {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -1.1rem;
    border: 0.5625rem solid transparent;
}

.tagcloud a:after {
    content: " ";
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0.4375rem;
    left: 2px;
}

.article-allta {
    display: inline
}

.article-category::before {
    content: "\f02d";
}

.archive-article-inner .article-meta .article-tag-list {
    margin-right: 1em;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    color: #666;
    font-size: 14px;
}

.archive-article-inner .article-meta .article-tag-list {
    margin-top: 0px;
}

.archive-article-inner .article-meta .article-tag-list:before {
    left: 15px;
}

.archive-article-inner .article-meta .article-tag-list .article-tag-list-item {
    width: auto;
    max-width: 83px;
    padding-left: 8px;
    font-size: 12px;
}

.clearfix {
    *zoom: 1;
}

/*background:#eee;*/
/*background-image: linear-gradient(45deg,#bbb 25%,transparent 0),linear-gradient(45deg,transparent 75%,#bbb 0),linear-gradient(45deg,#bbb 25%,transparent 0),linear-gradient(45deg,transparent 75%,#bbb 0);*/
/*background-size: 30px 30px;*/
/*background-position: 0 0 ,15px 15px,15px 15px,30px 30px;*/

/*background:repeating-linear-gradient(45deg,#fb3, #fb3 15px, #58a 0,#58a 30px);*/

/*background:repeating-linear-gradient(45deg, #74ccff, #74ccff 15px, #bba985 0, #bba985 30px)*/