<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>错误页</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="no-siteapp" http-equiv="Cache-Control"/>
    <meta content="个人学习测试网站" name="keywords">
    <meta content="dzl" name="description">
    <link href="css/all.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/errorpage.css" rel="stylesheet">
    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js"></script>
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
</head>
<body>
<div id="app">

    <div th:replace="header :: header"></div>
    <div class="error401img">
        <div class="clear"></div>
    </div>
</div>
<script src="js/all.js"></script>
</body>
</html>