<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>邓祖良的博客</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="no-siteapp" http-equiv="Cache-Control"/>
    <meta content="个人学习测试网站" name="keywords">
    <meta content="dzl" name="description">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">
    <link href="css/all.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/plugs_paging.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="js/lastUrl.js"></script>
    <script src="https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js"></script>
</head>
<body>
<div id="app">
    <div th:replace="header :: header"></div>

    <div class="am-g">
        <div class="am-u-sm-12 am-u-lg-3 ">
            <div id="left">

                <div class="blog-sidebar-widget blog-bor">
                    <h2 class="blog-text-center blog-title"><span>阿祖</span></h2>
                    <img alt="me" class="blog-entry-img"
                         src="https://dengzlcos-1253188131.cos.ap-shanghai.myqcloud.com/img/lang.jpg">
                    <p>邓祖良</p>
                    <p>
                        行百里者半九十
                    </p>
                    <p>2019月6月15日，我决定建立一个属于我自己的博客。在接下来的时间里，我会不断的改进，完善自己的博客。</p>
                    <hr style="margin: 10px 10px 10px 10px">
                    <p>
                        <a data-am-offcanvas="{target: '#doc-oc-demo2', effect: 'push'}" href=""><span
                                class="am-icon-qq   blog-icon"></span></a>
                        <a href="https://github.com/start-dzl" target="_blank"><span
                                class="am-icon-github  blog-icon"></span></a>
                        <a href="https://www.weibo.com/u/2351578837" target="_blank"><span
                                class="am-icon-weibo  blog-icon"></span></a>
                        <a data-am-offcanvas="{target: '#doc-oc-demo2', effect: 'push'}" href=""><span
                                class="am-icon-weixin  blog-icon"></span></a>
                    </p>
                    <!--左侧栏-->
                    <div class="am-offcanvas" id="doc-oc-demo2">
                        <div class="am-offcanvas-bar">
                            <div class="am-offcanvas-content">
                                <p>
                                    快扫一扫吧！
                                </p>
                                <div>
                                    <div class="blog-qq-box">
                                        <p>QQ</p>
                                        <img class="qq_code am-img-thumbnail am-radius" src="/img/qq.jpg">
                                    </div>
                                    <div class="blog-weixin-box">
                                        <p>微信</p>
                                        <img class="weixin_code am-img-thumbnail am-radius" src="/img/weixin.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd"><h2 class="blog-text-center"><span>热门文章</span></h2></div>
                    <ul class="am-list blog-list">

                    </ul>
                </div>

                <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
                    <h2 class="blog-title"><span>标签</span></h2>
                    <div class="am-u-sm-12 blog-clear-padding" id="IndexTagCloud">

                    </div>
                </div>

            </div>

        </div>
        <div class="am-u-sm-12 am-u-lg-9">
            <div class="articles">
                <h1 class="bg-Title">
                    <div><a class="bg-myStory-a">文章</a></div>
                </h1>
            </div>
            <div id="table_refresh" th:fragment="table_refresh">
                <input id="staff_size" th:value="${pages.getSize()}" type="hidden"/>
                <input id="staff_total" th:value="${pages.getTotal()}" type="hidden"/>
                <input id="staff_page" th:value="${pages.getPage()}" type="hidden"/>
                <input id="staff_current" th:value="${pages.getCurrent()}" type="hidden"/>
                <div th:each="item : ${pages.getContent()}">
                    <div class="am-slider-desc">
                        <header class="article-header">
                            <h1 itemprop="name">
                                <a href="" target="_blank" th:text="${{item.getTitle()}}"> </a>
                            </h1>
                            <div class="article-allta">
                                <div class="article-tag tagcloud">
                                    <ul class="article-tag-list article-allta">
                                        <div th:each="itag : ${item.getTags()}">
                                            <a class="article-tag-list-link color0 color6 color3" href=""
                                               th:text="${{itag.getName()}}"></a>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </header>
                        <div class="article-entry" th:text="${{item.getArticleTabloid()}}">
                        </div>
                        <div class="read-all">
                            <a href="" target="_blank">阅读全文 <i class="am-icon-angle-double-right"></i></a>
                            <hr class="style-two">
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-row" id="page-father">
                <div id="pagination">
                    <ul class="am-pagination  am-pagination-centered">
                        <li class="am-disabled"><a href="#">&laquo; 上一页</a></li>
                        <li class="am-active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">下一页 &raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <!--引入共有底部-->
    <div th:replace="footer :: footer"></div>
</div>
<script src="js/header.js"></script>
<script src="js/all.js"></script>
<script src="js/plugs_paging.js"></script>
<script src="js/index.js"></script>
</body>
</html>