<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>springboot学习</title>
    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/test.js"></script>
</head>

<body>
<div th:each="item : ${list}">
    <h1 th:text="${{item.title}}"></h1>
    <p><a th:text="${{item.author}}"></a></p>
    <p><a th:text="${{item.articleContent}}"></a></p>
</div>
<div>
    <h1 class="good">asfsdf</h1>
</div>

</body>
</html>