<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzl.blog2.mapper.ArticleMapper">

    <resultMap id="ArticlePlus" type="com.dzl.blog2.model.ArticlePlus">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="author" property="author"/>
        <result column="publish_date" property="publishDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="article_content" property="articleContent"/>
        <result column="article_tabloid" property="articleTabloid"/>
        <result column="last_article_id" property="lastArticleId"/>
        <result column="next_article_id" property="nextArticleId"/>
        <result column="likes" property="likes"/>
        <result column="play_count" property="playCount"/>
        <result column="publish_status" property="publishStatus"/>
        <result column="copy_right" property="copyRight"/>
        <association property="catalog" column="catalog_id"
                     select="com.dzl.blog2.mapper.CatalogMapper.selectById"/>
        <collection property="tags" ofType="com.dzl.blog2.entity.Tag" columnPrefix="t_">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
        </collection>
    </resultMap>

    <select id="findLastArticle" resultType="com.dzl.blog2.entity.Article">
        select *
        from article
        where publish_date &lt; now()
        order by publish_date desc
        limit 1
    </select>

    <select id="findAllArticle" resultMap="ArticlePlus">
        select a.id,
        a.title,
        a.author,
        a.publish_date,
        a.update_date,
        a.article_content,
        a.article_tabloid,
        a.last_article_id,
        a.next_article_id,
        a.likes,
        a.play_count,
        a.publish_status,
        a.catalog_id,
        t.id as t_id,
        t.name as t_name
        from article a
        left join article_tag t1 on a.id = t1.article_id
        left join tag t on t1.tag_id = t.id
        <where>
            <if test="key_word!=null and key_word!=''">
                title like concat(concat('%',#{key_word}),'%')
                or article_content like concat(concat('%',#{key_word}),'%')
                or author like concat(concat('%',#{key_word}),'%')
                or t.name like concat(concat('%',#{key_word}),'%')
            </if>
            <if test="publish_status!=null">
                and a.publish_status = #{publish_status}
            </if>
        </where>
        order by a.publish_date
    </select>

    <select id="findArticlePlusById" resultMap="ArticlePlus">
        select a.id,
        title,
        author,
        publish_date,
        update_date,
        article_content,
        article_tabloid,
        last_article_id,
        next_article_id,
        likes,
        play_count,
        t.id as t_id,
        publish_status,
        catalog_id,
        t.name as t_name
        from article a
        left join article_tag t1 on a.id = t1.article_id
        left join tag t on t1.tag_id = t.id
        <where>
            a.id = #{id}
        </where>
    </select>
</mapper>
